/* add > work time */
#ProjectPanels .worklog-calendar {
    position: fixed;
    bottom: 10px;
    width: 94%;
    background-color: white;
    border-top: 10px solid white;
}

#ProjectPanels .projects-lists-panel {
    margin-bottom: 100px;
}

/* work time */
#worklogsList .mini-calendar-container {
    position: fixed;
    bottom: -20px;
    width: 94%;
    background-color: white;
    border-top: 10px solid white;
    margin-bottom: 0px;
    z-index: 4;
}

#worklogsList #projects {
    margin-bottom: 85px;
}

#mainNavbar {
	position: fixed !important;
}